@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.custom-animated-title {
  color: #220aff;
  margin: 0;
  font-size: 3vw; /* o ajusta según prefieras */
  display: flex;
  justify-content: center;
  padding: 4vw 4vw 2vw 4vw;
  font-family: "Bungee Shade", sans-serif;
  flex-wrap: wrap; /* para que las letras no se desborden */
}

.custom-animated-title span {
  padding: 0.1vw;
  display: inline-block;
  animation: bounce 1s ease infinite, color-change 7s ease infinite;
  transform-origin: center;
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.2),
    2px 2px 3px rgba(0, 0, 0, 0.15);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes color-change {
  0% {
    color: #dbeafe; /* azul cielo pálido */
  }
  25% {
    color: #a5b4fc; /* azul lavanda elegante */
  }
  50% {
    color: #60a5fa; /* azul moderado, legible */
  }
  75% {
    color: #93c5fd; /* azul hielo suave */
  }
  100% {
    color: #dbeafe; /* vuelve al claro */
  }
}


