.custom-animated-title {
  color: #220aff;
  margin: 0;
  font-size: 10svw; /* o ajusta según prefieras */
  display: flex;
  justify-content: center;
  padding: 4vw 4vw 2vw 4vw;
  font-family: "Bungee Shade", sans-serif;
  flex-wrap: wrap; /* para que las letras no se desborden */
}

.custom-animated-title span {
  padding: 0.9vw;
  display: inline-block;
  animation: bounce 1s ease infinite, color-change 7s ease infinite;
  transform-origin: center;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes color-change {
  0% {
    color: #c3daec;
  }
  25% {
    color: #87ceeb;
  }
  50% {
    color: #6495ed;
  }
  75% {
    color: #220aff;
  }
  100% {
    color: #4682b4;
  }
}

